.promo {
  margin-bottom: 63px;

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border-radius: 59px;
    background: #f4f6f5;
    padding-top: 68px;
    padding-left: 120px;
    padding-right: 80px;
  }

  &__title {
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 40px;
    max-width: 474px;

    .highlight {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: -38px;
        top: -9px;
        background: #fff;
        width: 464px;
        height: 112px;
        transform: rotate(-2deg);
      }

      span {
        position: relative;
        display: block;
      }
    }

    .highlight-yellow {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: -465px;
        top: 125px;
        background: #EBD96B;
        width: 495px;
        height: 117px;
        transform: rotate(-2deg);
      }

      span {
        position: relative;
        display: block;
      }
    }
  }

  &__descr {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.6px;
    margin-bottom: 51px;
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
    gap: 34px;

    &::before {
      content: '';
      width: 190px;
      height: 32px;
      display: inline-block;
      background-image: url('../../img/icons/figure.svg');
    }
  }

  &__button {
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.5px;
    border-radius: 10px;
    background: #000;
    padding: 19px 40px;
  }
}
