$black: #000;

body {
  color: $black;
  font-family: 'Poppins', sans-serif;
}

a {
  color: $black;
}

.container {
  max-width: 1980px;
  padding: 0 30px;
  margin: 0 auto;
}

.title {
  width: fit-content;
  position: relative;

  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 104.167%;
  letter-spacing: 2.88px;

  span {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: -7px;
    background: url('../img/icons/figure.svg');
    width: 190px;
    height: 32px;
  }
}
